{% load static %}

<!DOCTYPE html>
<html dir="rtl" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Eduleb - Education HTML Template">
<meta name="keywords" content="agency, business, corporate, creative, html5, modern, multipurpose, One Page, parallax, startup">
<title>Eduleb - آموزش قالب HTML</title>
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'fonts/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'owlcarousel/css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'owlcarousel/css/owl.theme.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-simple-mobilemenu.css' %}">
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'css/animate.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body data-spy="scroll" data-offset="80">
<div class="preloaders"><span class="loader"></span></div>

    {% include "header.html" %}    

<section class="section-top"><div class="container"><div class="col-lg-10 offset-lg-1 text-center"><div class="section-top-title wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
<h1>فک</h1>
<ul>
<li><a href="index.html">صفحه اصلی</a></li>
<li>/ پرسش و پاسخ</li>
</ul>
</div></div></div></section><section class="faq_area section-padding"><div class="container"><div class="row justify-content-center">
<div class="col-lg-7 col-sm-12 col-xs-12"><div class="accordion" id="accordionExample">
<div class="accordion-item">
<h2 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">چگونه محتوا ایجاد می کند؟</button></h2>
<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample"><div class="accordion-body">ارزش عالی و استفاده بسیار آسان و باعث صرفه جویی در وقت من می شود! از اینکه چقدر وقت و انرژی مغزم را نجات داد شوکه شدم. ساده و آسان باید آن را دوست داشته باشم. ارزش عالی و استفاده بسیار آسان و باعث صرفه جویی در وقت من می شود! از اینکه چقدر وقت و انرژی مغزم را نجات داد شوکه شدم. ساده و آسان باید آن را دوست داشته باشم.</div></div>
</div>
<div class="accordion-item">
<h2 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">آیا محتوا اورجینال است؟</button></h2>
<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample"><div class="accordion-body">ارزش عالی و استفاده بسیار آسان و باعث صرفه جویی در وقت من می شود! از اینکه چقدر وقت و انرژی مغزم را نجات داد شوکه شدم. ساده و آسان باید آن را دوست داشته باشم. ارزش عالی و استفاده بسیار آسان و باعث صرفه جویی در وقت من می شود! از اینکه چقدر وقت و انرژی مغزم را نجات داد شوکه شدم. ساده و آسان باید آن را دوست داشته باشم.</div></div>
</div>
<div class="accordion-item">
<h2 class="accordion-header" id="headingThree"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">چگونه وبلاگ های طولانی بنویسیم؟</button></h2>
<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample"><div class="accordion-body">ارزش عالی و استفاده بسیار آسان و باعث صرفه جویی در وقت من می شود! از اینکه چقدر وقت و انرژی مغزم را نجات داد شوکه شدم. ساده و آسان باید آن را دوست داشته باشم. ارزش عالی و استفاده بسیار آسان و باعث صرفه جویی در وقت من می شود! از اینکه چقدر وقت و انرژی مغزم را نجات داد شوکه شدم. ساده و آسان باید آن را دوست داشته باشم.</div></div>
</div>
<div class="accordion-item">
<h2 class="accordion-header" id="headingFour"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">چگونه استفاده خود را مشاهده کنم؟</button></h2>
<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample"><div class="accordion-body">ارزش عالی و استفاده بسیار آسان و باعث صرفه جویی در وقت من می شود! از اینکه چقدر وقت و انرژی مغزم را نجات داد شوکه شدم. ساده و آسان باید آن را دوست داشته باشم. ارزش عالی و استفاده بسیار آسان و باعث صرفه جویی در وقت من می شود! از اینکه چقدر وقت و انرژی مغزم را نجات داد شوکه شدم. ساده و آسان باید آن را دوست داشته باشم.</div></div>
</div>
<div class="accordion-item">
<h2 class="accordion-header" id="headingFive"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">چگونه محتوا ایجاد می کند؟</button></h2>
<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample"><div class="accordion-body">ارزش عالی و استفاده بسیار آسان و باعث صرفه جویی در وقت من می شود! از اینکه چقدر وقت و انرژی مغزم را نجات داد شوکه شدم. ساده و آسان باید آن را دوست داشته باشم. ارزش عالی و استفاده بسیار آسان و باعث صرفه جویی در وقت من می شود! از اینکه چقدر وقت و انرژی مغزم را نجات داد شوکه شدم. ساده و آسان باید آن را دوست داشته باشم.</div></div>
</div>
</div></div>
<div class="col-lg-5 col-sm-12 col-xs-12"><div class="faq_img"><img src="{% static 'img/faq.jpg' %}" alt="faq image"></div></div>
</div></div></section>

    {% include "footer.html" %}

</body>
</html>
