{% load static %}

<!DOCTYPE html>
<html dir="rtl" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Eduleb - Education HTML Template">
<meta name="keywords" content="agency, business, corporate, creative, html5, modern, multipurpose, One Page, parallax, startup">
<title>Eduleb - آموزش قالب HTML</title>
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'fonts/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'owlcarousel/css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'owlcarousel/css/owl.theme.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-simple-mobilemenu.css' %}">
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'css/animate.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body data-spy="scroll" data-offset="80">
<div class="preloaders"><span class="loader"></span></div>

    {% include "header.html" %}

<section class="section-top"><div class="container"><div class="col-lg-10 offset-lg-1 text-center"><div class="section-top-title wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
<h1>طرح قیمت گذاری</h1>
<ul>
<li><a href="index.html">صفحه اصلی</a></li>
<li>/ قیمت ها</li>
</ul>
</div></div></div></section><section id="pricing" class="pricing-content section-padding"><div class="container"><div class="row text-center">
<div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0"><div class="single-pricing">
<div class="price-head">
<h2>شروع کننده</h2>
<span></span><span></span><span></span><span></span><span></span><span></span>
</div>
<h1 class="price">$29</h1>
<h5>ماهانه</h5>
<ul>
<li>15 وب سایت</li>
<li>50 گیگابایت فضای دیسک</li>
<li>50 حساب ایمیل</li>
<li>50 گیگابایت پهنای باند ماهانه</li>
<li>10 زیر دامنه</li>
<li>15 دامنه</li>
<li>پشتیبانی نامحدود</li>
</ul>
<a class="btn_one" href="#">بریم شروع کنیم</a>
</div></div>
<div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0"><div class="single-pricing">
<div class="price-head">
<h2>محبوب</h2>
<span></span><span></span><span></span><span></span><span></span><span></span>
</div>
<h1 class="price">$49</h1>
<h5>ماهانه</h5>
<ul>
<li>15 وب سایت</li>
<li>50 گیگابایت فضای دیسک</li>
<li>50 حساب ایمیل</li>
<li>50 گیگابایت پهنای باند ماهانه</li>
<li>10 زیر دامنه</li>
<li>15 دامنه</li>
<li>پشتیبانی نامحدود</li>
</ul>
<a class="btn_one" href="#">بریم شروع کنیم</a>
</div></div>
<div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0"><div class="single-pricing single-pricing-white">
<div class="price-head">
<h2>پیشرفت</h2>
<span></span><span></span><span></span><span></span><span></span><span></span>
</div>
<span class="price-label">بهترین</span><h1 class="price">$69</h1>
<h5>ماهانه</h5>
<ul>
<li>15 وب سایت</li>
<li>50 گیگابایت فضای دیسک</li>
<li>50 حساب ایمیل</li>
<li>50 گیگابایت پهنای باند ماهانه</li>
<li>10 زیر دامنه</li>
<li>15 دامنه</li>
<li>پشتیبانی نامحدود</li>
</ul>
<a class="btn_one" href="#">بریم شروع کنیم</a>
</div></div>
</div></div></section><div class="partner-logo section-padding"><div class="container"><div class="row part_bg">
<div class="col-lg-4 col-sm-4 col-xs-12"><div class="partner_title"><h3>کمک<span>86000+</span>شرکت‌های جهانی دستکش‌ها را برمی‌دارند</h3></div></div>
<div class="col-lg-8 col-sm-8 col-xs-12 text-center"><div class="partner">
<a href="#"><img src="{% static 'v' %}" alt="image"></a>
    <a href="#"><img src="{% static 'img/clients/2.png' %}" alt="image"></a>
    <a href="#"><img src="{% static 'img/clients/3.png' %}" alt="image"></a>
    <a href="#"><img src="{% static 'img/clients/4.png' %}" alt="image"></a>
    <a href="#"><img src="{% static 'img/clients/5.png' %}" alt="image"></a>
    <a href="#"><img src="{% static 'img/clients/2.png' %}" alt="image"></a>
    <a href="#"><img src="{% static 'img/clients/1.png' %}" alt="image"></a>
    <a href="#"><img src="{% static 'img/clients/3.png' %}" alt="image"></a>
    <a href="#"><img src="{% static 'img/clients/4.png' %}" alt="image"></a>
</div></div>
</div></div></div>

    {% include "footer.html" %}

</body>
</html>
