{% load static %}

{% load static %}

<!DOCTYPE html>
<html dir="rtl" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Eduleb - Education HTML Template">
<meta name="keywords" content="agency, business, corporate, creative, html5, modern, multipurpose, One Page, parallax, startup">
<title>Eduleb - آموزش قالب HTML</title>
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'fonts/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'owlcarousel/css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'owlcarousel/css/owl.theme.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-simple-mobilemenu.css' %}">
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'css/animate.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body data-spy="scroll" data-offset="80">
<div class="preloaders"><span class="loader"></span></div>

    {% include "header.html" %}

<section class="section-top">
    <div class="container">
        <div class="col-lg-10 offset-lg-1 text-center">
            <div class="section-top-title wow fadeInRight">
                <h1>ورود به حساب کاربری</h1>

                <ul>
                    <li><a href="{% url 'home' %}">صفحه اصلی</a></li>
                    <li>/ ورود</li>
                </ul>

            </div>
        </div>
    </div>
</section>

<section class="contact_area section-padding">
    <div class="container">

        <div class="row justify-content-center">

            <div class="col-xl-6 col-lg-7 col-md-9">

                <div class="contact shadow p-5 rounded bg-white">

                    <div class="text-center mb-5">

                        <h3>ورود</h3>

                        <p>
                            نام کاربری و رمز عبور خود را وارد کنید.
                        </p>

                    </div>

                    {% if error %}

<div class="alert alert-danger">

نام کاربری یا رمز عبور اشتباه است.

</div>

{% endif %}

                    <form method="post">

                        {% csrf_token %}

                        <div class="row">

                            <div class="col-md-12 mb-4">

                                <label>نام کاربری</label>

                                <input
                                        class="form-control"
                                        type="text"
                                        name="username"
                                        placeholder="نام کاربری"
                                        required>

                            </div>

                            <div class="col-md-12 mb-4">

                                <label>رمز عبور</label>

                                <input
                                        class="form-control"
                                        type="password"
                                        name="password"
                                        placeholder="رمز عبور"
                                        required>

                            </div>

                            <div class="col-12">

                                <button
                                        class="btn_one w-100"
                                        type="submit">

                                    ورود

                                </button>

                            </div>

                            <div class="col-12 text-center mt-4">

                                <p>

                                    حساب ندارید؟

                                    <a href="{% url 'register' %}">
                                        ثبت نام
                                    </a>

                                </p>

                            </div>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>
</section>

    {% include "footer.html" %}
</body>
</html>
