{% load static %}

<!DOCTYPE html>
<html dir="rtl" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Eduleb - Education HTML Template">
<meta name="keywords" content="agency, business, corporate, creative, html5, modern, multipurpose, One Page, parallax, startup">
<title>Eduleb - آموزش قالب HTML</title>
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'fonts/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'owlcarousel/css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'owlcarousel/css/owl.theme.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-simple-mobilemenu.css' %}">
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'css/animate.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body data-spy="scroll" data-offset="80">
<div class="preloaders"><span class="loader"></span></div>

    {% include "header.html" %}

<section class="section-top"><div class="container"><div class="col-lg-10 offset-lg-1 text-center"><div class="section-top-title wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
<h1>همه دوره</h1>
<ul>
<li><a href="index.html">صفحه اصلی</a></li>
<li>/ دروس</li>
</ul>
</div></div></div></section><section class="home_course section-padding"><div class="container"><div class="row">
<div class="col-lg-4 col-sm-6 col-xs-12"><div class="single_course">
<div class="single_c_img">
<img src="{% static 'img/course/1.png' %}" class="img-fluid" alt="course-image"><span>تحصیلات</span>
</div>
<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><h4><a href="course.html">اصول اولیه کاربر را کامل از مبتدی تا پیشرفته</a></h4>
<p><span class="ti-book"></span>12 دوره</p>
<p><span class="ti-alarm-clock"></span>2 ساعت و 32 دقیقه</p>
<div class="price">هزینه دوره - 99 تومان</div>
</div></div>
<div class="col-lg-4 col-sm-6 col-xs-12"><div class="single_course">
<div class="single_c_img">
<img src="{% static 'img/course/2.png' %}" class="img-fluid" alt="course-image"><span>UI/UX</span>
</div>
<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><h4><a href="course.html">دوره توسعه اندروید 12 و کاتلین پیشرفته</a></h4>
<p><span class="ti-book"></span>41 دوره</p>
<p><span class="ti-alarm-clock"></span>3 ساعت و 32 دقیقه</p>
<div class="price">هزینه دوره - 49 تومان</div>
</div></div>
<div class="col-lg-4 col-sm-6 col-xs-12"><div class="single_course">
<div class="single_c_img">
<img src="{% static 'img/course/3.png' %}" class="img-fluid" alt="course-image"><span>سبک زندگی</span>
</div>
<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><h4><a href="course.html">دوره آموزشی HTML، CSS و Javascript را کامل کنید</a></h4>
<p><span class="ti-book"></span>32 دوره</p>
<p><span class="ti-alarm-clock"></span>2 ساعت و 32 دقیقه</p>
<div class="price">هزینه دوره - رایگان</div>
</div></div>
<div class="col-lg-4 col-sm-6 col-xs-12"><div class="single_course">
<div class="single_c_img">
<img src="{% static 'img/course/4.png' %}" class="img-fluid" alt="course-image"><span>علوم پایه</span>
</div>
<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><h4><a href="course.html">IOS و Swift توسعه اپلیکیشن iOS را کامل کردند</a></h4>
<p><span class="ti-book"></span>19 دوره</p>
<p><span class="ti-alarm-clock"></span>2 ساعت و 32 دقیقه</p>
<div class="price">هزینه دوره - 59 تومان</div>
</div></div>
<div class="col-lg-4 col-sm-6 col-xs-12"><div class="single_course">
<div class="single_c_img">
<img src="{% static 'img/course/5.png' %}" class="img-fluid" alt="course-image"><span>نوین</span>
</div>
<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><h4><a href="course.html">طراحی گرافیک را با بهترین مربی IT بیاموزید</a></h4>
<p><span class="ti-book"></span>22 دوره</p>
<p><span class="ti-alarm-clock"></span>2 ساعت و 32 دقیقه</p>
<div class="price">هزینه دوره - 79 تومان</div>
</div></div>
<div class="col-lg-4 col-sm-6 col-xs-12"><div class="single_course">
<div class="single_c_img">
<img src="{% static 'img/course/6.png' %}" class="img-fluid" alt="course-image"><span>بازار یابی</span>
</div>
<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><h4><a href="course.html">علم داده را برای کسب و کار بعدی خود کامل کنید</a></h4>
<p><span class="ti-book"></span>11 دوره</p>
<p><span class="ti-alarm-clock"></span>2 ساعت و 32 دقیقه</p>
<div class="price">هزینه دوره - 39 تومان</div>
</div></div>
</div></div></section>

    {% include "footer.html" %}

</body>
</html>
